.photo-grid {
  width: 95%;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 92px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 760px) {
  .photo-grid {
    padding-top: 64px;
    width: 100%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1270px) {
  .photo-grid {
    padding-top: 88px;
    width: 91%;
  }
}
