.photo-grid {
  width: 100%;
  padding: 92px 48px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  gap: 16px;
}

@media screen and (max-width: 760px) {
  .photo-grid {
    padding: 64px 16px 0;
  }
}

@media screen and (min-width: 761px) and (max-width: 1020px) {
  .photo-grid {
    padding: 88px 24px 0;
  }
}
