.lead {
  margin: 0 auto;
  width: 90%;
  max-width: 984px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1020px) {
  .lead {
    width: 100%;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1270px) {
  .intro {
    max-width: 928px;
  }
}
