.footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-decoration: none;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 760px) {
  .footer__link {
    line-height: 24px;
    font-size: 24px;
  }
}
