.lead__title {
  margin: 0;
  display: block;
  width: 720px;
  height: 200px;
  margin-bottom: 32px;
  box-sizing: border-box;
  color: #fff;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}
