.lead__title {
  margin: 0;
  display: block;
  max-width: 720px;
  margin-bottom: 32px;
  box-sizing: border-box;
  color: #fff;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 760px) {
  .lead__title {
    line-height: 44px;
    font-size: 40px;
    max-width: 288px;
  }
}
