.intro {
  margin: 0 auto;
  padding-top: 92px;
  max-width: 984px;
  width: 100%;
}

@media screen and (max-width: 760px) {
  .intro {
    padding-left: 0;
    margin: 0 auto;
    width: 90%;
    padding-top: 64px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1020px) {
  .intro {
    padding-left: 0;
    margin: 0 auto;
    width: 94%;
    padding-top: 88px;
  }
}

@media screen and (min-width: 1021px) and (max-width: 1270px) {
  .intro {
    max-width: 928px;
  }
}
