.cover {
  position: relative;
  margin: 92px 0;
  width: 100%;
  height: 720px;
  opacity: 1;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/__background.jpg");
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

.cover:hover {
  opacity: 0.33;
}
