.cover {
  box-sizing: border-box;
  margin: 92px auto;
  width: 100%;
  max-width: 1184px;
  background-image: url(../../images/__background.jpg);
  background-size: cover;
}

@media screen and (max-width: 760px) {
  .cover {
    margin: 65px auto;
    row-gap: 16px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1020px) {
  .cover {
    margin: 89px auto;
  }
}
