.header__lang-pseudo-form {
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  height: 30px;
  width: 28px;
  line-height: 28px;
  font-size: 24px;
  text-align: right;
}

.header__lang-form:checked + .header__lang-pseudo-form {
  border-bottom: #fff solid 1px;
}
