.cover__title {
  position: relative;
  display: block;
  margin: 0;
  max-width: 560px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 760px) {
  .cover__title {
    line-height: 35px;
    font-size: 32px;
    max-width: 288px;
  }
}
