.cover__title {
  margin: 0;
  max-width: 560px;
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  opacity: 1;
}

@media screen and (max-width: 760px) {
  .cover__title {
    line-height: 35px;
    font-size: 32px;
  }
}
