.place {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 760px) {
  .place {
    row-gap: 32px;
  }
}
