.place__website-url-heading {
  display: block;
  margin: 0;
  box-sizing: border-box;
  padding-bottom: 12px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
  letter-spacing: 2px;
}
